.parallax {
    background: $black;
    -webkit-perspective: 1px;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin:0;
    &--layer{
        width:100%;
        color:$white;
        &--level-1 {
            opacity: 0;
            z-index: 40;
            position: relative;
            pointer-events: none;
            color: theme-color-level(primary);
            @include transform(translateZ(0));
            @include media-breakpoint-up(md){
                opacity: 0.25;
            }
        }
        &--level-2 {
            z-index: 30;
            position: absolute;
            @include transform(translateZ(-0.5px));
        }
        &--level-3 {
            opacity: 0;
            z-index: 20;
            position: absolute;
            @include transform(translateZ(-1px));
            @include media-breakpoint-up(md){
                opacity: 0.5;
            }
        }
        &--level-4 {
            .parallax--item {
                opacity: 0;
            }
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            z-index: 10;
            position: absolute;
            top: -100vh;         
            margin-bottom: -100vh;
            left: 50%;
            margin-left: -125vw; 
            width: 250vw;
            //min-width: 2500px;
            @include transform(translateZ(-1.5px));
            &:before{
                content:'';
                position: absolute;
                top: 0;
                bottom:0;
                left:0;
                right:0;
                background: rgba($black,0.5);
                background: linear-gradient(0deg, rgba($black,1) 0%, rgba($black,0.2) 25%, rgba($black,0.2) 100%);
                //background: rgba(255,0,0,0.5);
            }
        }
    }
    
    &--item {
        height: 100vh;
        width: 100%;
        .billboard{
            box-sizing: border-box;
            writing-mode: vertical-rl;
            text-orientation: upright;
            border: 3px solid $white;
            padding: 1rem 0 0.75rem 0; 
            letter-spacing: 0.1rem;
            font-weight: 700;
            border-radius: 10px;
            @include animation(glow 0.5s ease-in-out infinite alternate);
            text-transform: uppercase;
        }
    }
    
    &--main {
        height: auto;
        min-height: 100vh;
        text-shadow: $white 0px 0px 10px;
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px $white, 
            0 0 20px $white, 
            0 0 30px $red, 
            0 0 40px $red,
            0 0 50px $red, 
            0 0 60px $red, 
            0 0 70px $red, 
    }

    to {
        text-shadow: 0 0 20px $white, 
            0 0 30px $white, 
            0 0 40px $white, 
            0 0 50px $white, 
            0 0 60px $white, 
            0 0 70px $white, 
            0 0 80px $white;
    }
}
