description = "Parallax List Template"

[staticPage]
useContent = 1
default = 0

[staticPageList highlightList]
code = "highlights"
==
{variable type="mediafinder" mode="image" name="backgroundImage" label="Image" span="left" tab="Background"}{/variable}

{% partial 'head' %}

{% partial 'navbar' class="dark-layout" %}

<section class="parallax">
    <div class="parallax--layer parallax--layer--level-4" style="background-image:url('{{ backgroundImage |media }}');">
      {% for item in highlightList.menuItems %}
        <div class="row parallax--item">
          {% if loop.index is odd %}
            {% partial "parallax-item" span="right" item=item %}
          {% else %}
            {% partial "parallax-item" span="left"  item=item %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="parallax--layer parallax--layer--level-3">
     {% for item in highlightList.menuItems %}
        <div class="row parallax--item">
          {% if loop.index is odd %}
            {% partial "parallax-item" span="right" billboard="true" item=item %}
          {% else %}
            {% partial "parallax-item" span="left" billboard="true" item=item %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="parallax--layer parallax--layer--level-2">
      {% for item in highlightList.menuItems %}
        <div class="row parallax--item parallax--main">
          {% if loop.index is odd %}
            {% partial "parallax-item" buttons="true" span="left" item=item %}
          {% else %}
            {% partial "parallax-item" buttons="true" span="right" item=item %}        
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="parallax--layer parallax--layer--level-1">
      {% for item in highlightList.menuItems %}
        <div class="row parallax--item">
          {% if loop.index is odd %}
            {% partial "parallax-item" span="right" item=item %}
          {% else %}
            {% partial "parallax-item" span="left" item=item %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
</section>

{% partial 'foot' %}