description = "Static Page Template"

[staticPage]
useContent = 1
default = 0

[staticBreadcrumbs]
==
{# Preview Tab #}
{variable type="mediafinder" mode="image" name="previewImage" label="Image" tab="Preview" span="left"}{/variable}
{variable type="textarea" size="small" name="description" label="Description" tab="Preview" span="right"}{/variable}
{variable type="text" name="site_url" label="URL" tab="Preview" span="full"}{/variable}

{# Hero Tab #}
{variable type="dropdown" name="navbarType" label="Navigation Bar Type" options="dark-layout:Dark|light-layout:Light" tab="Hero" span="full"}{/variable}
{variable type="text" name="heroTitle" label="Title" tab="Hero" span="left"}{/variable}
{variable type="text" name="heroSubtitle" label="Subtitle" tab="Hero" span="right"}{/variable}
{variable type="colorpicker" name="heroColor" label="Color" tab="Hero" span="left"}{/variable}
{variable type="mediafinder" mode="image" name="heroImage" label="Image" tab="Hero" span="right"}{/variable}

{# Sections Tab #}
{variable name="sections" type="repeater" groups="themes/scavenport/meta/static-section.yaml" tab="Sections" prompt="Add New Section" }{/variable}

{% partial 'head' %}

{% partial 'navbar' class=navbarType %}

<section class="w-100 vh-100 d-flex justify-content-center align-items-center hero" 
    {% if heroImage %}
        style="background-image:url('{{ heroImage|media }}');"
    {% elseif heroColor %}
        style="background-color:{{ heroColor }};"
    {% endif %}
>   
    <div class="container p-5 text-center hero--caption--{{ navbarType }}">
        <h1>{{ heroTitle }}</h1>
        <p>{{ heroSubtitle }}</p>
    </div>
</section>

<section class="p-5 section--{{ navbarType }} text-justify">
    {% component 'staticBreadcrumbs' %}
    {{ description }}
</section>

{% for section in sections %}
    <section class="section--{{ navbarType }}">
        {{ section._group }}
    </section>
{% endfor %}

{% partial 'footer' %}

{% partial 'foot' %}