.hero{
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    &--caption{
        &--dark-layout{
            color:$white;
        }
        &--light-layout{
            color:$gray-900;
        }
    }
}