.navbar{
    &-brand{
        color:$gray-900;
        &:hover{
            color:$gray-900;
        }
    }
    &-toggler{
        border: none;
        padding: 0;
        &:focus{
            outline: none;
        }
    }
    &-nav{
        @include media-breakpoint-up(md){
            align-items: flex-end;
        }
        .nav-item{
            text-align: right;
            @include media-breakpoint-up(md){
                width: 100px !important;
            }
            .nav-link{
                color:$gray-900;
                &:hover{
                    color: $red;
                }
            }  
            &.active{
                .nav-link{
                    color:$red;
                }
            }
        }
    }
}

.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    @include transform(rotate(0deg));
    @include transition(.5s ease-in-out);
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        opacity: 1;
        left: 0;
        @include transform(rotate(0deg));
        @include transition(.25s ease-in-out);
        background-color: $gray-900;
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2) {
            top: 10px;
        }
        &:nth-child(3) {
            top: 20px;
        }
    }
    &.open{
        span{
            background-color:$red;
            &:nth-child(1) {
                top: 11px;
                @include transform(rotate(135deg));
            }
            &:nth-child(2) {
                opacity: 0;
                left: -60px;
            }
            &:nth-child(3) {
                top: 11px;
                @include transform(rotate(-135deg));
            }
        }
    }
}