description = "Head of html page"

[viewBag]
==
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO Meta Tags -->
    {% if this.page.meta_description %}
        <meta name="description" content="{{ this.page.meta_description }}">
    {% endif %}

    <!-- CSS Manifestation -->
    <link rel="stylesheet" href="{{ 'assets/css/app.css'|theme }}">
    
    <link rel="shortcut icon" href="{{ app_favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ app_favicon }}" type="image/x-icon">

    <title>{{ this.page.meta_title |default(this.page.title) }} | {{ app_name }}</title>

</head>

<body>